@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --vermelho-escuro: #8E2424;
  --vermelho-claro: #8E24240D;
  --cinza: #667085;
  --cinza-claro: #EAECF0;
  --branco: #FFFFFF;
  --preto: #101828;
  --cinza-footer: #F9FAFB;
  --cinza-copy: #98A2B3;
  --cinza-input: #D0D5DD;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 32px;
  padding-top: 32px;
  font-size: 16px;
  color: var(--cinza);
}

a {
  color: inherit;
}

nav {
  display: flex;
  gap: 40px;
}

.buttons-nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

.button-entrar {
  padding: 10px 18px 10px 18px;
}

.button-cadastrar {
  padding: 10px 18px 10px 18px;
  background: var(--vermelho-escuro);
  color: var(--branco);
  border-radius: 8px;
}

.primeira-secao {
  padding-top: 96px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.primeira-secao span {
  color: var(--vermelho-escuro);
  font-weight: 600;
  font-size: 16px;
}

.primeira-secao h1 {
  padding-right: 32px;
  padding-left: 32px;
  font-weight: 600;
  font-size: 48px;
}

.paragrafo-primeira-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--cinza);
  padding-top: 12px;
}

.metrics-section {
  display: flex;
  padding-bottom: 96px;
  justify-content: center;
}

.container {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  gap: 64px;
}

.content {
  display: flex;
  gap: 32px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item h2 {
  font-size: 60px;
  font-weight: 600;
  color: var(--vermelho-escuro);
}

.item span {
  font-size: 18px;
  font-weight: 500;
  color: var(--preto);
}

.item p {
  font-size: 16px;
  font-weight: 400;
  color: var(--cinza);
}

.section-vagas {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.talentos {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.talentos span {
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 12px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  color: var(--vermelho-escuro);
  background-color: var(--vermelho-claro);
}

.talentos h2 {
  color: var(--preto);
  font-size: 36px;
  font-weight: 600;
}

.talentos p {
  font-size: 20px;
  font-weight: 400;
  color: var(--cinza);
}

.talentos img {
  margin-top: 32px;
  width: 1216px;
  height: 400px;
}

.vagas {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 32px;
}

.vagas h2 {
  width: 768px;
  font-size: 20px;
  font-weight: 500;
  color: var(--preto);
  margin-top: 32px;
}

.vaga {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--cinza-claro);
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 28px;
  padding-left: 24px;
  gap: 32px;
  border-radius: 16px;
}

.titulo-vaga {
  font-size: 18px;
  font-weight: 500;
  color: var(--preto);
}

.informacoes {
  display: flex;
  gap: 24px;
  font-size: 16px;
  font-weight: 500;
  color: var();
}

.depoimentos {
  padding-top: 96px;
  padding-bottom: 96px;
  gap: 32px;
  align-items: center;
}

.container-depoimentos {
  margin: 0 auto;
  width: 1216px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--vermelho-claro);
  padding: 64px;
  gap: 32px;
}

.depoimentos-textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.depoimentos-textos span {
  font-size: 14px;
  font-weight: 600;
  color: var(--vermelho-escuro);
}

.depoimentos-textos p {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  color: var(--preto);
}

.depoimentos-imagem {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.depoimentos-imagem img {
  width: 56px;
  height: 56px;
}

.depoimentos-imagem p {
  font-size: 16px;
  font-weight: 500;
  color: var(--preto);
}

.depoimentos-imagem span {
  font-size: 14px;
  font-weight: 400;
  color: var(--cinza);
}

footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--cinza-footer);
}

.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.textos-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.textos-footer h2 {
  font-size: 36px;
  font-weight: 600;
  color: var(--preto);
}

.textos-footer p {
  font-size: 20px;
  font-weight: 400;
  color: var(--cinza);
}

.botao-footer {
  display: flex;
  gap: 16px;
}

.botao-footer input {
  border: 1px solid var(--cinza-input);
  border-radius: 8px;
  padding-top: 12px;
  padding-right: 14px;
  padding-bottom: 12px;
  padding-left: 16px;
  width: 360px;
}

.botao-footer a {
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  background-color: var(--vermelho-escuro);
  color: var(--branco);
  border-radius: 8px;
}

input::placeholder {
  color: var(--cinza);
}

.container-footer p {
  font-size: 16px;
  font-weight: 400;
  color: var(--cinza-copy);
}